body {
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    height: 100vh;
}

.inner-wrapper {
    position: relative;
    height: calc(100vh - 3.5rem);
    transition: transform 0.3s;
}

@media (min-width: 992px) {
    .sticky-navbar .inner-wrapper {
        height: calc(100vh - 3.5rem - 48px);
    }
}

.inner-main,
.inner-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.inner-sidebar {
    left: 0;
    width: 235px;
    border-right: 1px solid #cbd5e0;
    background-color: #fff;
    z-index: 1;
}

.inner-main {
    right: 0;
    left: 235px;
}

.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
    height: 4rem;
    border-bottom: 1px solid #cbd5e0;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    flex-shrink: 0;

}

.inner-main-body,
.inner-sidebar-body {
    padding: 1rem;
    overflow-y: auto;
    position: relative;
    flex: 1 1 auto;
}

.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
    z-index: 999;
}

.inner-main-footer,
.inner-main-header {
    background-color: #fff;
}

.inner-main-footer,
.inner-sidebar-footer {
    border-top: 1px solid #cbd5e0;
    border-bottom: 0;
    height: auto;
    min-height: 3.5rem;
}

@media (max-width: 767.98px) {
    .inner-sidebar {
        left: -235px;
    }

    .inner-main {
        left: 0;
    }

    .inner-expand .main-body {
        overflow: hidden;
    }

    .inner-expand .inner-wrapper {
        transform: translate3d(235px, 0, 0);
    }
}

.nav .show>.nav-link.nav-link-faded,
.nav-link.nav-link-faded.active,
.nav-link.nav-link-faded:active,
.nav-pills .nav-link.nav-link-faded.active,
.navbar-nav .show>.nav-link.nav-link-faded {
    color: #3367b5;
    background-color: #c9d8f0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #467bcb;
}

.nav-link.has-icon {
    display: flex;
    align-items: center;
}

.nav-link.active {
    color: #467bcb;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-link {
    color: #4a5568;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}


/* COMMENT */

.content-item h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px 0;
}

.content-item h3 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin: 10px 0 15px;
    padding: 0;
}

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

.content-headline h2 {
    background-color: #ffffff;
    display: inline-block;
    margin: -20px auto 0;
    padding: 0 20px;
}

.grey .content-headline h2 {
    background-color: #f0f0f0;
}

.content-headline h3 {
    font-size: 14px;
    color: #aaaaaa;
    display: block;
}

#comments form,
#admins form {
    margin-bottom: 30px;
}

#comments .btn,
#admin .btn {
    margin-top: 7px;
}

#comments form fieldset,
#admins form fieldset {
    clear: both;
}

#comments form textarea,
#admins form textarea {
    height: 100px;
}

.bd-top {
    border-top: 1px dashed #dddddd;
}

#comments .media,
#admins .media {
    /* border-top: 1px dashed #dddddd; */
    padding: 7px 0 20px 0;
    margin: 0;
}

#comments .media>.pull-left,
#admins .media>.pull-left {
    margin-right: 20px;
    float: left !important;
}

.pull-right {
    float: right !important;
}

/* #comments .media img,
#admins .media img {
    max-width: 100px;
} */

#comments .media h4,
#admins .media h4 {
    margin: 0 0 10px;
}

#comments .media h4 span,
#admins .media h4 span {
    font-size: 14px;
    float: right;
    color: #999999;
}

#comments .media p,
#admins .media p {
    margin-bottom: 15px;
    text-align: justify;
}

#comments .media-detail,
#admins .media-detail {
    margin: 0;
}

#comments .media-detail li,
#admins .media-detail li {
    color: #aaaaaa;
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
    font-weight: 600;
}

#comments .media-detail a:hover,
#admins .media-detail a:hover {
    text-decoration: underline;
}

#comments .media-detail li:last-child,
#admins .media-detail li:last-child {
    padding-right: 0;
}

#comments .media-detail li i,
#admins .media-detail li i {
    color: #666666;
    font-size: 15px;
    margin-right: 10px;
}


/*  */

.user-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-panel .info {
    overflow-wrap: anywhere;
    text-align: center;
    font-size: 11px;
}

.cmt .like {
    cursor: pointer;
}

.cmt .like:hover {
    text-decoration: underline;
}

/* IMAGES IN GRID BS */
.row div a img.img-fluid {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

/* COLOR PICKER */

table {
    width: 100%;
}

blockquote {
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

table td,
table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}


.media-object {
    width: 64px;
}
